<div class="chat-input">
  <div class="input-wrapper">
    <button class="icon-button">
      <mat-icon>attach_file</mat-icon>
    </button>
    <input type="text" [(ngModel)]="message" placeholder="Eine Nachricht schreiben..." />
    <button class="icon-button">
      <mat-icon>mic</mat-icon>
    </button>
    <button class="icon-button">
      <mat-icon>emoji_emotions</mat-icon>
    </button>
  </div>
  <button color="accent" class="send-button" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>