.page {
    height: 100%;
}

.content-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat {
    flex: 1;
    overflow: auto;
}

mat-sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

mat-sidenav {
    background-color: var(--color-surface-secondary);
    border-right: 2px solid var(--color-border-default);
}

mat-sidenav-container {
    background-color: var(--color-surface-secondary);
}