<div class="profile-sidebar">
  <!-- Header -->
  <div class="header">
    <h2>Profil</h2>
    <app-icon-circle-button icon="close" tooltip="Close" (clicked)="onCloseSidebar()">
    </app-icon-circle-button>
  </div>

  <!-- Profile picture + name -->
  <div class="profile">
    @if (isLoading())
    {
    <app-skeleton [count]="1" [height]="80" [width]="80" [appearance]="'circle'" [borderRadius]="'50%'">
    </app-skeleton>
    <app-skeleton [count]="1" [height]="24" [width]="200"></app-skeleton>
    } @else {
    <img [src]="chatPartner?.avatarUrl" alt="Profilbild" class="w-20 h-20 rounded-full mb-2 border border-gray-600" />
    <h3 class="text-xl font-medium">{{ chatPartner!.name }}</h3>
    }
    <div class="action-buttons">
      <app-icon-circle-button icon="photo_camera" iconColor="#C82151"
        backgroundColor="#392B30"></app-icon-circle-button>
      <app-icon-circle-button icon="phone" tooltip="Call" iconColor="#C82151"
        backgroundColor="#392B30"></app-icon-circle-button>
    </div>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>

  <!-- Info sections -->
  <div class="info-blocks">
    <div class="info-item">
      <p class="label">PROFIL</p>
      @if (isLoading())
      {
      <app-skeleton [count]="1" [height]="24" [width]="200"></app-skeleton>
      } @else {
      <p class="value">{{ chatPartner?.profile?.bio }}</p>
      }
    </div>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <div class="info-item">
      <p class="label">TELEFON</p>
      @if (isLoading())
      {
      <app-skeleton [count]="1" [height]="24" [width]="200"></app-skeleton>
      } @else {
      <p class="value">{{ chatPartner?.phone?.number }}</p>
      }
    </div>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <div class="info-item">
      <p class="label">BENACHRICHTIGUNG</p>
      <button class="mute-button">
        <mat-icon>volume_off</mat-icon>
        <span>Stumm</span>
        <mat-icon class="arrow">expand_more</mat-icon>
      </button>
    </div>
  </div>

  <div class="divider">
    <mat-divider></mat-divider>
  </div>

  <!-- Navigation tabs -->
  <div class="tabs">
    <button (click)="onSwitchSidebarView('shared-content')">
      <span>Medien, Links & Dokumente</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <!-- Content area for media / groups -->
  <div class="content-area">
    <div class="media-grid">
      @if (isLoading())
      {
      <app-skeleton [count]="1" [height]="69" [width]="104"></app-skeleton>
      <app-skeleton [count]="1" [height]="69" [width]="104"></app-skeleton>
      <app-skeleton [count]="1" [height]="69" [width]="104"></app-skeleton>
      <app-skeleton [count]="1" [height]="69" [width]="104"></app-skeleton>
      <app-skeleton [count]="1" [height]="69" [width]="104"></app-skeleton>
      <app-skeleton [count]="1" [height]="69" [width]="104"></app-skeleton>
      } @else {
      @for(img of media; track img)
      {
      <img [src]="img" alt="Media image">
      }
      }
    </div>
  </div>
</div>